@model ITKnowledgeBase.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<h1>Makale Sil</h1>

<h3>Bu makaleyi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Makale Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Kategori
        </dt>

        <dd class="col-sm-10">
            @Model.Category?.Name
        </dd>

    </dl>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
    <input type="submit" value="Sil" class="btn btn-danger" /> |
    </form>

    <form asp-action="Index">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Listeye Dön" class="btn btn-secondary" />
    </form>
</div>
